.component-wrapper {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    
}

.inner{
    display: flex;  
    background-color: teal;
}
.component-type {
    /* background-color: tomato; */
}

.component-type select{
    padding: 3px 10px ;
    font-size: 15px;
    font-weight: 800;
    border: 2px solid black;
    border-right: none;
}
.component-type select:focus{
    outline: none;
}
.component-label{
    width: 100%;
    /* background-color: tomato; */
}

.component-label input{
    padding: 3px 10px ;
    font-size: 16.5px;
    border: 2px solid black;
    width: 100%;
    font-weight: 400;
    box-sizing: border-box;
}

.component-label input:focus{
    outline: none;
}

.component-options {
    /* max-width: 330px; */
    /* margin: auto; */
    /* background-color: rgb(243, 37, 1); */
}