.components-wrapper {
    background-color: grey;
    display: flex;
    margin: 60px 0px;
    justify-content: center;
}

.type-selector select{
    /* background-color: hotpink; */
    padding: 3px 10px ;
    font-size: 15px;
    border: 2px solid black;
}
.type-selector select:focus{
    outline: none;
}

.type-label input{
    padding: 3px 10px ;
    font-size: 15px;
}

.type-label input:focus{
    outline: none;
}